<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <style>
          body {
          padding: 50px;
          font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
          
        }

      header {
        background-color: #0c6771;
        color: white;
        text-align: center;
        padding: 20px;
      }

      .content {
        margin: 20px;
        padding-bottom: 100px;
      }

      footer {
        background-color: #0c6771;
        color: white;
        text-align: center;
        padding: 10px;
      }


      </style>  
    </head>
      <body>
        <header>
            <h1>Name :- Rushi Patel</h1>
            <h1>Student ID :- N01539145</h1>
        </header>
        <div class="content">
            {{{body}}}
        </div>
        <footer>
            <p>Email: n01539145@humber.ca</p>
        </footer>
      </body>
    </html>