<!-- views/output.handlebars -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Search Results</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Movie Search Results</h1>
  {{#if movies.length}}
  <ul>
    {{#each movies}}
      <li>
        <img src="{{data.poster}}" style="max-width: 100px; max-height: 150px;">
        <h2>{{data.title}}</h2>
        <p>{{data.fullplot}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No movies found</p>
{{/if}}
</body>

</html>
